/* General */
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Public Sans", sans-serif; */
}

.container {
  margin: 0;
  width: 428px;
  padding: 0%;
  padding-left: 2rem;
  background-color: #FFFFFF;
  margin: auto;
}
.container.wide {
  padding left: 0%;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1rem; */
  align-items: center;
}
.header-nav {
  display: none;
}
.logo {
  width: 46.2%;
}
.header-burger {
  display: inline-block;
  padding: 2rem;
  font-size: 1.5rem;
}
/* hero first */
.hero__texts {
}
.hero.first {
}
.hero__img-box {
  padding-top: 42px;
  position: relative;
  overflow: hidden;
}
.hero__img {
  position: absolute;
  top: 41%;
  left: 98%;
  transform: translate(-50%, -50%);
  height: 420px;
}
.hero__img.second {
  position: absolute;
  top: 67%;
  left: 79%;
  transform: translate(-50%, -50%);
  height: 467px;
}

.hero__texts {
  padding: 38px 0;
  width: 274px;
}
.hero__subheader {
  color: #ff3998;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero__header {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #111111;
}
.hero__header.second {
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  width: 274px;
  
  margin-bottom: 17px;
}
.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}
.hero__text.second {
padding-top: 5px;
  width: 207px;
}

.hero__button {
  color: #111111;
  font-weight: 600;
  font-size: 20px;
  padding: 22px 56px;
  border-radius: 38px;
  border: 4px solid #ff3998;
}

/* cfa */
.cfa-texts {
  margin: 0;
  width: 428px;
  padding: 0%;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.cfa__backgound {
  
  position: absolute;
  top: 50%;
  transform: scaleY(4.5);
}
.cfa__header {
  margin-top: 122px;
  font-weight: 500;
font-size: 40px;
line-height: 48px;
  padding: 0 2rem;
  z-index: 1;
  position: relative;
}
.cfa__text {
  font-weight: 400;
font-size: 20px;
line-height: 30px;
padding: 0 2rem;
  z-index: 1;
  position: relative;
  margin-bottom: 2rem;
}
.cfa-icons{
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
.cfa__icon-box {
  height: 50px;
  width:154px;
  position: relative;
 overflow: hidden;
}
.shorter {
  position: absolute;
  left:30%;
  top: 20%;
  transform: scale(1.5);
}
.desktop{
  display: none;
}
/* auction */
.auction__header {
  padding-top: 2rem;
  font-weight: 500;
font-size: 40px;
line-height: 48px;
}
.auction__text {
  font-weight: 400;
font-size: 20px;
line-height: 30px;
}
.auction__cards{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-bottom: 92px;
}
.a-card {
  background-color: #EEEEEE;
  border-radius: 16px;
  width: 290px;
  height: 400px;
  /* display: grid;
  grid-template-columns: 7fr 1fr 4fr;
  grid-template-areas:
  "img img img"
  "series . bid"
  "title eth price "
  "number . duration"; */
}
.invisible {
  display: none;
}
.a-card__img {
  margin-bottom: 12px;
  /* grid-area: img; */
}
.a-card__line {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin: 12px 0;

}
.a-card__series {
  /* grid-area: series; */
  font-weight: 500;
font-size: 12px;
line-height: 12px;
text-transform: uppercase;
color: #FF8139;
/* display: inline-block; */
}
.a-card__bid {
  /* grid-area: bid; */
  color: #777777;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  /* display: inline-block; */
}
.a-card__title {
  /* grid-area: title; */
  color: #111111;
  font-weight: 500;
font-size: 20px;
}
.a-card__eth-price {
  display: flex;
  /* grid-area: eth; */
  /* text-align: right; */
}
.a-card__price {
/* grid-area: price; */
color: #111111;
font-weight: 500;
font-size: 20px;
padding-left: 5px;
}
.a-card__number {
  /* grid-area: number; */
  color:  #777777;
  font-weight: 400;
font-size: 18px;

}
.a-card__duration {
  /* grid-area: duration; */
  color:  #777777;
  font-weight: 400;
  font-size: 18px;
  
}
.endofsection {
  width: 100%;
  border-bottom: 2px solid #EEEEEE;
 }

/* contacts */
.companyname {
  padding-top: 4rem;

}
.companyname__subtitle {
  font-weight: 400;
font-size: 20px;
color: #555555;
padding-top: 30px;
}
.companyname__media{
  padding-top: 2rem;
}
.companyname__icon{
  color: #999999;
  font-size: 18px;
  margin: 0 16px 0 0;
}

.contacts-navtables{
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}
.contacts__navtable {
  flex-basis: 45%;
  flex-grow: 1;
  padding-top: 40px;

}
th{
  font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.1em;
color: #555555;
text-transform: uppercase  ;
text-align: left;

}
td{
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  text-align: left;
  padding-top: 16px;
}



