/* General */
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Public Sans", sans-serif; */
}

.container {
  margin: 0;
  width: 428px;
  padding: 0%;
  padding-left: 2rem;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1rem; */
  align-items: center;
}
.header-nav {
  display: none;
}
.logo {
  width: 46.2%;
}
.header-burger {
  display: inline-block;
  padding: 2rem;
  font-size: 1.5rem;
}
/* hero first */
.hero__texts {
}
.hero.first {
}
.hero__img-box {
  margin-top: 42px;
  position: relative;
  overflow: hidden;
}
.hero__img {
  position: absolute;
  top: 41%;
  left: 98%;
  transform: translate(-50%, -50%);
  height: 420px;
}
.hero__texts {
  margin-top: 38px;
  width: 274px;
}
.hero__subheader {
  color: #ff3998;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero__header {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #111111;
}
.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}
.hero__button {
  color: #111111;
  font-weight: 600;
  font-size: 20px;
  padding: 22px 56px;
  border-radius: 38px;
  border: 4px solid #ff3998;
}
