/* General */
body {
  font-family: "Inter", sans-serif;
  font-family: "Public Sans", sans-serif;
}

.container {
  width: 428px;
  padding: 0%;
  padding-left: 2rem;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
}
.header-nav {
  display: none;
}
.logo {
  width: 46.2%;
}
.header-burger {
  display: inline-block;
  padding: 2rem;
  font-size: 1.5rem;
}
/* lauching soon mt2rem */
